<div class="row">
  <div class="col-md-4">
    <img src="assets/abstract-image.jpg" alt="" class="thumbnail">
    <p>
      <a href="https://www.amazon.in/JBL-Portable-Wireless-Bluetooth-Speaker/dp/B00TFGWAA8/ref=sr_1_2?ie=UTF8&qid=1545376100&sr=8-2&keywords=jbl" class="btn btn-info btn-block" target="_blank">Visit product Website</a>
    </p>
  </div>
  <div class="col-md-8">
    <h1>{{name}}

    </h1>
  <h5>  <p>{{title}}</p></h5>
    <p class="label label-info m-r-md">

      Category: {{sourceCategory}}
    </p>
    <p class="label label-info m-r-md">{{reviewCount}} customers reviews</p>
  <p class="label label-info m-r-md">latest reviewed on: {{latestReviewDate}}</p>
    <h2>Price: {{price}}</h2>
    <h5>Product id: {{product_id}}</h5>

    <div class="row is-flex" >
      <div class="col-md-12">
        <h1 class="text-center">Top Scores</h1>
      </div>
      <div class="col-md-3" *ngFor="let score of topScores">
        <div class="thumbnail">
          <div class="caption">
            <h5 class="text-center"><b>{{score.topic}}</b></h5>
          </div>
          <div class="caption">
            <h6 class="text-center">{{score.score}}</h6>
          </div>
        </div >
      </div>
    </div>

  </div>
</div>
